<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.Shapes</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Shapes.playgroundchapter/Pages/1515EE04-0EF4-4BC0-AB97-82A330B02DBD.playgroundpage/Contents.swift</key>
		<string>Modified</string>
		<key>Chapters/Shapes.playgroundchapter/Pages/1515EE04-0EF4-4BC0-AB97-82A330B02DBD.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Shapes.playgroundchapter/Pages/A5536AC0-3C53-418C-8093-CA9C9F88FF25.playgroundpage/Contents.swift</key>
		<string>Modified</string>
		<key>Chapters/Shapes.playgroundchapter/Pages/A5536AC0-3C53-418C-8093-CA9C9F88FF25.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Shapes.playgroundchapter/Pages/A8FF5F52-A6BB-44F1-81F4-54D46397E7C4.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Shapes.playgroundchapter/Pages/FB50A94F-5929-4BC5-85CA-18038AC44652.playgroundpage/Contents.swift</key>
		<string>Modified</string>
		<key>Chapters/Shapes.playgroundchapter/Pages/FB50A94F-5929-4BC5-85CA-18038AC44652.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Shapes.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
