<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>A5536AC0-3C53-418C-8093-CA9C9F88FF25.playgroundpage</string>
		<string>1515EE04-0EF4-4BC0-AB97-82A330B02DBD.playgroundpage</string>
		<string>FB50A94F-5929-4BC5-85CA-18038AC44652.playgroundpage</string>
		<string>A8FF5F52-A6BB-44F1-81F4-54D46397E7C4.playgroundpage</string>
	</array>
</dict>
</plist>
